<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap-grid.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div id="header" class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h1>Cam's Pizzeria</h1>
            <div class="row">
              <div id="menu" class="col-md-12">
                <form action="#randomPizzas">
                  <input type="submit" value="Menu">
                </form>
                <form action="#ingredients">
                  <input type="submit" value="Our Ingredients">
                </form>
                <form action="#locations">
                  <input type="submit" value="Locations">
                </form>
                <form action="#" onsubmit="alert('Thanks for clicking! This button doesn\'t do anything because this is a fake pizzeria :\)')">
                  <input type="submit" value="Contact Us">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="movingPizzas1" class="col-md-6">
      </div>
    </div>
    <div id="callToAction" class="row">
      <div class="col-md-4">
        <img src="https://lh3.googleusercontent.com/NOquTgeyEdYysUPDEkp325sKlGoACxlji5DmwM3aHiOSLaSQjvMyiZUFUslnG3vPA-ArANIeNT1F5DLm85OBZ56kLF_U7iCrz7FyPO2DRpxQzLETWwvIHgwD8xbXn1bs0O7z0ppZTFeU_YHZgRe7MvmIYDDNFI7VcRJZF2OkytNm6oYqR_FntOctSG0jZ03i5u6eFR4m13lUn3QVCvI1kUmH9hkylV_6A8raZboIKXTfu971nRSg74BqVZFOAGM7QoEbfft8pdu8YPsfOQvxLa6nwIflaO8stAJy1hWLLXkL0aguUnTm1rjXU91GE57UfJeQB7OW5xRq8vYMGJ6ETdnvess5QCvlIU2EOqWO24Zj_U5Lcl7ChvD9Fp4OyBQTT8rVocAgf4yRCOhWwhJOA14CdHaVcDvyjtYOOO7cPiCGSOuzJp2AK41w5cteQA0a6KZvdOGZSpkg_QRnVFCPUWW3T7Xby3hFxZfcyXhJrC5dfSteF85TByXdDrxKJBYG5sbgcyn2ZyI3jgm3IYMqwBhhSyKHIEbPDs8czTGJ4EG1auSHLMjZsEsV7GCO9rSbbyG5_UV-1dkndJ16Y4v_SRXzJWUFK8KyoS0Y_11PENlNFA4-VA9W=w720-h540-no" class="img-responsive"> <!-- Image credit to: http://commons.wikimedia.org/wiki/File:HK_TST_night_%E5%98%89%E8%98%AD%E9%81%93_Granville_Road_restaurant_Paisano's_Pizzeria_pizza_Dec-2013.JPG -->
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h2>We Have Hundreds of Pizza Recipes!</h2>
            <p>At Cam's Pizzeria, we know you want options. Pepperoni? Boring. Cheese? No way! Sausage? C'mon, let's get creative.</p>
            <p>We have every pizza ingredient imaginable in our kitchen because we know you take choice seriously. Take a look through our menu of hundreds of pizza options and we know that you'll find something you love.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-push-3">
            <form action="#randomPizzas">
              <input type="submit" value="Pick a Pizza Now!">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="ingredients" class="row">
      <div class="col-md-8 col-md-push-2">
        <div class="row">
          <div class="col-md-12 centered">
            <h2>Ingredients!</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>We've scoured the planet for the best pizza ingredients. Our crack team of ingredient specialists are on constant lookout for new and interesting pizza ingredients.</p>
            <p>We have classic meats like pepperoni, sausage, and barbecue chicken. But you can find even more fun meats like coppa, kielbasa and soylent green on our menu too.</p>
            <p>Not interested in meat? No problem! We love our veggies too :) We have everything from arugula to zucchini.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="locations" class="row">
      <div class="col-md-12">
        <h2 style="text-align: center">Locations!</h2>
        <div class="row">
          <div class="col-md-6">
            <h3>Pizza Road</h3>
            <p>1800 Pizza Road<br>San Francisco, CA<br>01010<br>555-555-5555</p>
          </div>
          <div class="col-md-6">
            <h3>Classic Pie Way</h3>
            <p>999 Classic Pie Way<br>New York, NY<br>00100<br>555-555-5555</p>
          </div>
        </div>
      </div>
    </div>
    <div id="pizzaGenerator" class="row">
      <div class="col-md-12">
        <h2 style="text-align: center">Our Pizzas!</h2>
        <div class="row">
          <div class="col-md-12">
            <em>What size pizza would you like? Use the slider below to change pizza sizes.</em>
          </div>
          <div id="pizzaSize" class="col-md-6">Medium</div>
          <div class="col-md-12">
            <input id="sizeSlider" type="range" min="1" max="3" value="2" step="1" onchange="resizePizzas(this.value)"></input>
          </div>
        </div>
        <div id="randomPizzas" class="row">
          <div id="pizza0" class="randomPizzaContainer" style="width:33.33%; height: 325px;">
            <div style="width:35%">
              <img src="https://lh3.googleusercontent.com/K6_ID9mWHnmDuVUO5AVHLBEf_Inn6pZujAJ_3PzcEDU3XlcDr9nMuWTuw_jQOBp6I_2IPtyYUHvVwmmrwS63ZyAnNrMSrqJSQRZMzImM02Bdd7PiIOT3E8D5XihnCm3Bc-j5HBHdI16CAwixdN2jnFCzOxCBvrYZziVge2aHsBtnqCMHaNrXWsbr6z1yiFibrhK7KTNWSW30GBi-Sviw3g69xJb0x-uv-haHHSmOSyoJrULZCCuXzaCaOvGkDGhIFuoR6KkNOFtPqT-Dbct5FGsX6LaaftLFpoU6J8N_hZT7yxn3J1lIKROUJkDBMNuW9CFbCSkdbzUw6m3mJPmufpF5yx7FG5c3kqEEGIyBKHKDh1cGPXGWHo1zgJMylFfHBvyHZGBcqtxahUZh0KLfsGXDLsSO8qtdDgoFhjKPg4f1aC5V8X-y2sMLBxaDNkINqEnXVQmcpgRyhGPBKtP7zARs5kVjceMnJ1AmcEaaUa-0vXegIOY_WEy3c5uBlALfwCL7wqHajvixZ8dCTw_nH9eOV8pnAfbJhuBK6bxieyAIpqfQh1S9ZyNNprru4fyhyBI8p_SDlETfheZPMQX4kfb91oe5T-Hn0Ukd9bRu9eOeSYRBtbjh=w232-h300-no" class="img-responsive">
            </div>
            <div style="width:65%">
              <h4>The Udacity Special</h4>
              <ul>
                <li>Turkey</li>
                <li>Tofu</li>
                <li>Cauliflower</li>
                <li>Sun Dried Tomatoes</li>
                <li>Velveeta Cheese</li>
                <li>Red Sauce</li>
                <li>Whole Wheat Crust</li>
              </ul>
            </div>
          </div>
          <div id="pizza1" class="randomPizzaContainer" style="width:33.33%; height: 325px;">
            <div style="width:35%">
              <img src="images/pizza.png" class="img-responsive">
            </div>
            <div style="width:65%">
              <h4>The Cameron Special</h4>
              <ul>
                <li>Chicken</li>
                <li>Hot Sauce</li>
                <li>White Crust</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="col-md-12">Thanks for visiting! &copy; 2014 Udacity</div>
  </div>
  <script src="js/main.js"></script>
</body>
</html>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/bootstrap-grid.css">
